<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    {{!--
    <script src="../scripts/produto.js" type="text/javascript"></script> --}}

    <script src="../scripts/index.js" type="text/javascript"></script>
</head>

<body>
    <div class="header">
        <h1>UFPB</h1>
    </div>
    <div class="carrinho">
        <span id="span-carrinho">Lista de compras R$ 0</span>
        <ul id="lista-carrinho" class="carrinho-conteudo"></ul>
    </div>
    <main>
        <nav id="nav-principal" class="nav-principal"></nav>
        <nav class="categorias">
            <ul id="categorias-recipiente">
                {{#list categories}}
                <li className="categoria">
                    <p>
                        {{nameCategory}}
                    </p>

                </li>
                {{/list}}
            </ul>
        </nav>
        <section id="sessao-produtos" class="grid">
            <ul id='lista-produtos' class='grid'>
                {{!-- {{#each categories}}
                <li>
                    <p>{{this.nameCategory}}</p>
                </li> --}}
                {{!-- <li><a href="categories/{{this.id}}">Deletar</a> --}}
                    {{!-- <a href="categories/{{this.id}}">Editar</a> --}}
                    {{!-- </li> --}}
                {{!-- {{#list categories}}
                <li class='lista-item'>
                    <div class='card-produto'>
                        <div class='card-conteudo'>
                            <h4 id='produto-nome'>{{nameProduct}}</h4>
                            <label class='produto-preco'>{{priceProduct}}</label>
                            <button class='produto-add-carrinho'>Add</button>
                        </div>

                    </div>
                </li> --}}

                {{#list products}}
                <li class='lista-item'>
                    <div class='card-produto'>
                        <div class='card-conteudo'>
                            <h4 id='produto-nome'>{{nameProduct}}</h4>
                            <label class='produto-preco'>{{priceProduct}}</label>
                            <button class='produto-add-carrinho'>Add</button>
                        </div>
                    </div>
                </li>
                {{!-- <li> --}}
                    {{!-- <a href="categories/{{../this.id}}/products/{{this.id}}">Deletar</a> --}}
                    {{!-- <a href="categories/{{../this.id}}/products/{{this.id}}/edit">Editar</a> --}}
                    {{!-- </li> --}}
                {{/list}}
            </ul>
        </section>
        <section id='sessao-adm'>
            {{!-- <a onclick="addProductClickListener()" href='#' id='add-product' class='button'> --}}
                {{!-- <a href='product/create' id='add-product' class='button'>
                    Adicionar produto
                </a> --}}


                <h2>Create a new category</h2>
                <form action="/category/" , method="post" />
                <label>Name:</label>
                <input type="text" , name="nameCategory" required="required" />
                <input type="submit" />
                </form>
                <h2>Create a new product</h2>
                <form action="/product" , enctype="multipart/form-data" , method="post" />
                <label>Name:</label>
                <input type="text" , name="nameProduct" required="required" /><br>
                <label>Price:$</label>
                <input type="text" , name="priceProduct" required="required" /><br>
                <label>Description:</label><br>
                <textarea rows="4" , cols="50" , name="descriptionProduct" required="required"></textarea><br>
                <label>Image:</label>
                <input type="file" , name="thumbnail" required="required" />
                {{!-- <input type="text" , name="idCategory" required="required" /><br>
                <label>Categoria</label> --}}
                
                <select name="productCategory">
                    {{#list categories}}
                    <option value="{{nameCategory}}"> {{nameCategory}}</option>
                    {{/list}}
                </select>
                <input type="submit" />
                </form>
        </section>
    </main>
    <footer class="footer">
        <p>UFPB all rights reserved</p>
    </footer>
</body>

</html>